/**
 * Code
 */

// Dependencies
@use 'config/dimensions';
@use 'config/media';
@use 'config/typography';
@use 'config/interaction';

// Declarations
code, pre, .hljs {
  display: inline-block;
}

.code,
.code-block {
  border: 1px solid;
  border-radius: 3px;
}

code, pre {
  @include typography.set('code');

  a, a:visited, a:hover {
    color: var(--nyco-code-link);
  }

  @include interaction.focus();
}

.code {
  padding: 4px 8px;
  display: inline-block;
  overflow: initial;
  line-height: inherit;
  max-width: 100%;
  text-overflow: ellipsis;
}

p code, li code, td code {
  font-size: inherit;
  line-height: inherit;

  border-radius: 3px;
  padding: 0.1em 0.4em 0.2em;
  margin: 0;
  display: inline;
  white-space: nowrap;
}

td > code {
  display: inline-block
}

pre, .hljs {
  display: block;
  border: 1px solid;
  border-radius: 3px;
  max-width: 100%;
  overflow: hidden;
  overflow-x: auto;

  margin-bottom: var(--nyco-spacing-DEFAULT);
  padding: var(--nyco-spacing-DEFAULT);

  @include media.screen-and-min-width('tablet') {
    padding: calc(var(--nyco-spacing-DEFAULT) * 2);
  }
}

.code-block {
  display: inline-block;
  display: block;
  margin-bottom: var(--nyco-spacing-DEFAULT);

  pre, .hljs {
    color: inherit;
    background-color: transparent;

    margin: 0;
    border: none;
    margin-bottom: 0;

    padding: var(--nyco-spacing-DEFAULT);

    @include media.screen-and-min-width('tablet') {
      padding: calc(var(--nyco-spacing-DEFAULT) * 2);
    }
  }
}

code, .code, .code-block, pre, .hljs {
  color: var(--nyco-code-text);
  background-color: var(--nyco-code-background);
  border-color: var(--nyco-code-border);

  // font-smooth: var(--nyco-code-font-smooth); // non-standard & not on standards track
  --moz-osx-font-smoothing: var(--nyco-code-moz-osx-font-smoothing);
    -webkit-font-smoothing: var(--nyco-code-webkit-font-smoothing);
}

p code, li code, td code {
  color: var(--nyco-code-text-code);
}

// pre, .hljs {
  // color: var(--nyco-code-text-base);
  // background-color: var(--nyco-code-background);
  // border-color: transparent;
// }

/**
 * Highlight.js Overrides
 */

.css {
  color: var(--nyco-code-text-css)
}

.javascript {
  color: var(--nyco-code-text-javascript)
}

.hljs-attr, .hljs-name {
  color: var(--nyco-code-text)
}

.hljs-comment {
  color: var(--nyco-code-text-comment)
}

.hljs-keyword, .hljs-attribute, .hljs-selector-tag,
.hljs-meta-keyword, .hljs-doctag, .hljs-name, .hljs-built_in {
  color: var(--nyco-code-text-keyword)
}

.hljs-type, .hljs-string, .hljs-subst, .hljs-number, .hljs-selector-id,
.hljs-selector-class, .hljs-quote, .hljs-template-tag, .hljs-deletion {
  color: var(--nyco-code-text-string)
}

.hljs-regexp, .hljs-symbol, .hljs-variable, .hljs-template-variable,
.hljs-link, .hljs-selector-attr, .hljs-selector-pseudo {
  color: var(--nyco-code-text-symbol)
}