/**
 * Inputs
 */

// Dependencies
@use 'config/inputs';

// Declarations
input, textarea {
  @include inputs.base();
}

input[type='number'] {
  appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
}

input[type='date'] {
  flex-direction: row-reverse;
  gap: var(--nyco-grid);

  &::-webkit-datetime-edit {
    padding: 0;
  }
}

input::-webkit-datetime-edit {
  display: block;
}

.input, [class*='input-'], .textarea {
  color: var(--nyco-input-text);
  background: var(--nyco-input-background);
  border-color: var(--nyco-input-border);

  position: relative;
}

.input-prefix input {
  padding-inline-start: calc(calc(var(--nyco-grid) * 6.5) - var(--nyco-input-border-width));
}

.input__prefix {
  @include inputs.graphic();

  left: calc(var(--nyco-grid) * 1.5);
  inset-inline-start: calc(var(--nyco-grid) * 1.5);
}

.input-suffix input {
  padding-inline-end: calc(calc(var(--nyco-grid) * 6.5) - var(--nyco-input-border-width));
}

.input__suffix {
  @include inputs.graphic();

  right: calc(var(--nyco-grid) * 1.5);
  inset-inline-end: calc(var(--nyco-grid) * 1.5);
}
