/**
 * Inputs
 */

// Dependencies
@use 'config/inputs';

// Declarations
input, textarea {
  @include inputs.base();
}

input[type='number'] {
  appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
}

.input, [class*='input-'], .textarea {
  color: var(--nyco-input-text);
  background: var(--nyco-input-background);
  border-color: var(--nyco-input-border);

  position: relative;
}

.input-prefix input {
  padding-inline-start: calc(calc(var(--nyco-grid) * 6) - var(--nyco-input-border-width));
}

.input__prefix {
  @include inputs.graphic();

  left: calc(var(--nyco-grid) * 1.5);
  inset-inline-start: calc(var(--nyco-grid) * 1.5);
}

.input-suffix input {
  padding-inline-end: calc(calc(var(--nyco-grid) * 6) - var(--nyco-input-border-width));
}

.input__suffix {
  @include inputs.graphic();

  right: calc(var(--nyco-grid) * 1.5);
  inset-inline-end: calc(var(--nyco-grid) * 1.5);
}

// .input-search {
//   display: flex;
//   align-items: center;
//   position: relative;

//   input {
//     text-overflow: ellipsis;
//     display: block;
//     padding: var(--nyco-spacing-DEFAULT);
//     width: 100%;
//   }
// }

// .input-search__submit {
//   width: calc(var(--nyco-grid) * 4);
//   height: calc(var(--nyco-grid) * 4);
//   inset-inline-end: calc(var(--nyco-grid) * 3);
//   padding: 0 !important;
//   position: absolute;

//   > [class*="icon"]:first-child {
//     margin: 0;
//     width: calc(var(--nyco-grid) * 4);
//     height: calc(var(--nyco-grid) * 4);
//   }
// }
