/**
 * Badges
 */

// Dependencies
// @use 'config/tokens' as *;

// Declarations
.badge {
  font-size: var(--nyco-badge-font-size);
  font-weight: var(--nyco-badge-font-weight);
  line-height: var(--nyco-badge-line-height);
  text-transform: var(--nyco-badge-text-transform);

  color: var(--nyco-badge-color);
  background-color: var(--nyco-badge-background);

  border-radius: var(--nyco-badge-radius);
  display: inline-block;

  padding: var(--nyco-badge-padding);
}

.badge-small {
  line-height: var(--nyco-badge-small-line-height);
  padding: var(--nyco-badge-small-padding);
}
