//
// Variables, Functions, and Mixins
//

// Dependencies
// @use 'config/tokens' as *;
// @use 'config/grid' as *;
// @use 'config/dimensions';
// @use 'config/media';
// @use 'config/typography';
@use 'config/interaction';

// Declarations
@mixin base() {
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  font-style: normal;

  line-height: var(--nyco-input-inner-size);
  text-overflow: ellipsis;
  padding: calc(calc(var(--nyco-grid ) * 2) - var(--nyco-input-border-width));
  border: var(--nyco-input-border-width) var(--nyco-input-border-style);
  border-color: inherit;
  border-radius: var(--nyco-input-radius);
}

@mixin graphic() {
  font-weight: bold;

  position: absolute;

  width: var(--nyco-input-inner-size);
  height: var(--nyco-input-inner-size);
  line-height: var(--nyco-input-inner-size);

  top: 50%;
  margin-top: calc(1rem / 2 * -1);

  pointer-events: none;
}

// @mixin icon() {
//   padding-inline-end: var(--nyco-input-icon-padding);
// }

// @mixin currency-icon() {
//   font-size: var(--nyco-input-currency-font-size);
//   font-weight: bold;
// }