//
// Variables, Functions, and Mixins
//

// Dependencies
@use 'config/icons';

// Declarations
$margin-bottom: var(--nyco-grid);

@mixin base() {
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
  margin-bottom: $margin-bottom;

  @include icons.spacing;
}