//
// Variables, Functions, and Mixins
//

// Dependencies
// @use ...

// Declarations
@mixin base() {
  color: var(--nyco-link);
  font-weight: var(--nyco-fontWeight-link);
  text-decoration: underline;

  // &[href^='#']:visited {
  //   color: var(--nyco-link);
  // }
}

@mixin hover() {
  color: var(--nyco-link-hover);
  // color: var(--nyco-link-hover) !important;

  // &[href^='#']:visited {
  //   color: var(--nyco-link-hover);
  // }
}
