// Dependencies
@use 'config/tokens';
@use 'config/grid';
@use 'config/direction';
@use 'config/forms';

// Declarations
$selects: map-get(tokens.$tokens, 'selects');

@function get($token) {
  @return map-get($selects, $token);
}

@mixin base() {
  @include forms.forms-default();

  color: inherit;
  font-weight: bold;
  line-height: var(--nyco-select-inner-size);
  text-overflow: ellipsis;
  padding: calc(calc(var(--nyco-grid) * 2) - var(--nyco-select-border-width));
  padding-inline-end: calc(calc(var(--nyco-grid) * 5) - var(--nyco-select-border-width));
  border-width: var(--nyco-select-border-width);
  border-style: var(--nyco-select-border-style);
  border-radius: var(--nyco-select-border-radius);

  &::-ms-expand {
    display: none;
  }
}

@mixin graphic() {
  fill: transparent;
  stroke: transparent;
  stroke-width: var(--nyco-select-stroke-width);
  stroke-linecap: var(--nyco-select-stroke-line);
  stroke-linejoin: var(--nyco-select-stroke-line);

  position: absolute;
  right: var(--nyco-grid);
  inset-inline-end: var(--nyco-grid);

  top: 50%;
  margin-top: calc(var(--nyco-select-inner-size) * -1);

  width: var(--nyco-select-inner-size);
  height: calc(var(--nyco-select-inner-size) * 2);

  pointer-events: none;
}
